.container {
  width: 100%;
  .signature_container {
    position: relative;
    margin-top: 3.2rem;
    margin-bottom: 5rem;
    border-radius: 1rem;
    width: 100%;
    height: 300px;

    background: var(
      --BG-Grey_1,
      linear-gradient(0deg, #f2f4f6 0%, #f2f4f6 100%),
      url(<path-to-image>) lightgray 50% / cover no-repeat
    );

    .signature_text {
      @include absolute_center();
      @include fm-ar(1.6rem, $grey_2, 2.2rem, 600);
      text-align: center;
    }

    .signature {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
    }
  }
}
