.container {
  @include flex_row(space-between, center);
  height: $sub_header_height;
  padding-left: 1.2rem;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: $sub_header_layer;

  .right_section {
    margin-left: auto;
  }

  .right_section_text {
    margin-right: 1.9rem;
    color: $primary_1;
    font-feature-settings:
      "liga" off,
      "clig" off;
    font-family: Pretendard;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.2rem;
  }

  .right_section_image {
    margin-right: 2.7rem;
  }
}
