.container {
  .ticket_item {
    padding: 1.8rem 0;
    border-top: 0.2rem solid $grey_1;
    @include flex_row(space-between, center);

    .left_section {
      .trainee_info {
        @include flex_row(flex-start, center);
        @include flex_row_gap(1.4rem);

        .trainee_name {
          @include fm-ar(1.9rem, $text_1, 2.2rem, 600);
        }
      }

      .ticket_name {
        margin-top: 0.7rem;
        @include fm-ar(1.7rem, $grey_3, 2.2rem, 600);
      }

      .ticket_period {
        margin-top: 0.5rem;
        @include fm-ar(1.6rem, $grey_2, 2.2rem, 400);
      }
    }
  }
}
