.radio_label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 3.6rem;
}

.radio_input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .radio_custom {
    border-color: $primary_1;
    background-color: $primary_1;
  }

  &:checked + .radio_custom::after {
    transform: scale(1);
  }
}

.radio_custom {
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid var(--gray-3);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;

  &::after {
    content: "";
    width: 1rem;
    height: 1rem;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease;
  }
}

.label_text {
  font-size: 1.4rem;
  color: var(--gray-1);
}
