.container {
  .title {
    @include fm-ar(2rem, $text_1, 2.4rem, 500, "Pretendard");

    span {
      font-weight: 700;
    }
  }

  textarea {
    margin-top: 2rem;
    width: 100%;
    height: 29.4rem;
    border-radius: 1rem;
    border: 0.1rem solid $grey_2;
    padding: 1.8rem 2rem;
    @include fm-ar(1.6rem, $text_5, 2.2rem, 600);

    &::placeholder {
      color: $grey_2;
    }

    &:focus {
      outline: none;
      border: 0.1rem solid $sub_1;

      &::placeholder {
        color: $sub_1;
      }
    }
  }

  .buttonContainer {
    margin-top: 3.8rem;
    @include flex_row(space-between, center);
    @include flex_row_gap(1.4rem);
  }
}
