{
  "openapi": "3.0.1",
  "info": {
    "title": "Fittner API",
    "description": "Fittner API with Spring Boot",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://api.fittner.co.kr", "description": "server" }],
  "security": [{ "Authorization": [] }],
  "tags": [
    { "name": "유저", "description": "유저 관련 처리입니다." },
    { "name": "메인페이지", "description": "메인페이지 내 기능들입니다." },
    { "name": "서명", "description": "서명 및 노쇼 처리입니다." },
    { "name": "이용권", "description": "이용권(티켓) 처리입니다." },
    { "name": "마이페이지", "description": "마이페이지 내 기능들입니다." },
    { "name": "수업", "description": "수업 관련 처리입니다." },
    { "name": "파일", "description": "파일 처리" },
    { "name": "공통", "description": "공통" },
    { "name": "푸시", "description": "푸시 알람입니다." },
    { "name": "권한", "description": "권한 처리입니다." }
  ],
  "paths": {
    "/api/v1/user/ticket/refund": {
      "post": {
        "tags": ["이용권"],
        "summary": "이용권 환불 API",
        "description": "이용권 환불 API 입니다.",
        "operationId": "getUserTicketRefund",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RefundReqDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/ticket/plus": {
      "post": {
        "tags": ["이용권"],
        "summary": "이용권 추가등록 API",
        "description": "이용권 추가등록 API 입니다.",
        "operationId": "postUserTicketPlus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PlusReqDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/ticket/assign/old-member": {
      "post": {
        "tags": ["이용권"],
        "summary": "이용권 기존 회원 양도 API",
        "description": "이용권 기존 회원 양도 API 입니다.",
        "operationId": "postUserTicketAssignOldMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignToOldMemberReqDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/ticket/assign/new-member": {
      "post": {
        "tags": ["이용권"],
        "summary": "이용권 신규 회원 양도 API",
        "description": "이용권 신규 회원 양도 API 입니다.",
        "operationId": "postUserTicketAssignNewMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignToNewMemberReqDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/sign": {
      "post": {
        "tags": ["서명"],
        "summary": "서명 요청 API",
        "description": "서명 요청 API 입니다.",
        "operationId": "postUserSign",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SignReqDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/reservation": {
      "post": {
        "tags": ["수업"],
        "summary": "트레이너가 수업 등록하는 API",
        "description": "트레이너가 수업을 등록하는 API 입니다.",
        "operationId": "postUserReservation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReservationReqDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/register": {
      "post": {
        "tags": ["유저"],
        "summary": "트레이너가 회원을 등록하는 API",
        "description": "트레이너가 회원을 등록하는 API 입니다.",
        "operationId": "postUserRegister",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MemberRegisterReqDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/push/read": {
      "post": {
        "tags": ["푸시"],
        "summary": "알림 읽음 API",
        "description": "알림 읽음 API 입니다.",
        "operationId": "postUserPushRead",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PushReadReqDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/myPage/push": {
      "post": {
        "tags": ["마이페이지"],
        "summary": "푸시 설정 조회 API",
        "description": "푸시 설정 조회 API 입니다.",
        "operationId": "postUserMyPagePush",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageListPushSetResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/myPage/push-set": {
      "post": {
        "tags": ["마이페이지"],
        "summary": "푸시 설정 API",
        "description": "푸시 설정 API 입니다.",
        "operationId": "postUserMyPagePushSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PushSetReqDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/myPage/notice/read": {
      "post": {
        "tags": ["마이페이지"],
        "summary": "공지사항 읽음 API",
        "description": "공지사항 읽음 API 입니다.",
        "operationId": "postUserMyPageNoticeRead",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/NoticeReadReqDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/join": {
      "post": {
        "tags": ["유저"],
        "summary": "트레이너 회원가입 API",
        "description": "트레이너 회원가입 API 입니다.",
        "operationId": "postUserJoin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/JoinReqDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/drop": {
      "post": {
        "tags": ["유저"],
        "summary": "트레이너 계정 탈퇴",
        "description": "트레이너 계정 탈퇴 API 입니다.",
        "operationId": "postUserDrop",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/center": {
      "post": {
        "tags": ["유저"],
        "summary": "트레이너의 센터 등록 API",
        "description": "트레이너의 센터 등록 API 입니다.",
        "operationId": "postUserCenter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CenterRegisterReqDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageObject"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["유저"],
        "summary": "트레이너 본인이 승인요청한걸 승인취소하는 API",
        "description": "트레이너 본인이 승인요청한걸 승인취소하는 API 입니다.",
        "operationId": "deleteUserCenter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelCenterApprovalReqDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/common/file/upload": {
      "post": {
        "tags": ["파일"],
        "summary": "이미지 업로드",
        "description": "이미지를 업로드 합니다.",
        "operationId": "postCommonFileUpload",
        "parameters": [
          {
            "name": "fileReqDto",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/FileReqDto" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "type": "object" } } }
          }
        }
      }
    },
    "/api/v1/auth/refresh-token": {
      "post": {
        "tags": ["권한"],
        "summary": "엑세스 토큰 재발급 API",
        "description": "엑세스 토큰을 재발급 받습니다.",
        "operationId": "postAuthRefreshToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AccessTokenReqDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageTokenResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": ["권한"],
        "summary": "트레이너 로그아웃 API",
        "description": "트레이너 로그아웃 API 입니다.",
        "operationId": "postAuthLogout",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageObject"
                }
              }
            }
          }
        },
        "security": [{ "Authorization": [] }]
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": ["권한"],
        "summary": "트레이너 로그인 API",
        "description": "트레이너 로그인 API 입니다.",
        "operationId": "postAuthLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LoginRequestDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageTokenResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/tickets": {
      "get": {
        "tags": ["이용권"],
        "summary": "전체 이용권 리스트 조회 API",
        "description": "전체 이용권 리스트 조회 API 입니다.",
        "operationId": "getUserTickets",
        "parameters": [
          {
            "name": "ticketCode",
            "in": "query",
            "description": "이용권 코드(TOTAL | ING | STOP | ASSIGN_TO | ASSIGN_FROM | REFUND | AFTER)",
            "required": true,
            "schema": { "type": "string" },
            "example": "TOTAL"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageListTicketListResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/ticket/{ticketId}": {
      "get": {
        "tags": ["이용권"],
        "summary": "이용권 상세 조회 API",
        "description": "이용권 상세 조회 API 입니다.",
        "operationId": "getUserTicketTicketId",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "이용권ID",
            "required": true,
            "schema": { "type": "string" },
            "example": "03fa7063-d6e2-11ef-b7c9-0242ac190002"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageTicketDetailResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/ticket/refund-info": {
      "get": {
        "tags": ["이용권"],
        "summary": "이용권 환불 정보 조회 API",
        "description": "이용권 환불 정보 조회 API 입니다.",
        "operationId": "getUserTicketRefundInfo",
        "parameters": [
          {
            "name": "ticketId",
            "in": "query",
            "description": "티켓ID",
            "required": true,
            "schema": { "type": "string" },
            "example": "ec4b8eb6-d01e-11ef-b7c9-0242ac190002"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageRefundInfoResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/ticket/assign-info": {
      "get": {
        "tags": ["이용권"],
        "summary": "이용권 양도 정보 조회 API",
        "description": "이용권 양도 정보 조회 API 입니다.",
        "operationId": "getUserTicketAssignInfo",
        "parameters": [
          {
            "name": "ticketId",
            "in": "query",
            "description": "티켓ID",
            "required": true,
            "schema": { "type": "string" },
            "example": "ec4b8eb6-d01e-11ef-b7c9-0242ac190002"
          },
          {
            "name": "memberId",
            "in": "query",
            "description": "회원ID",
            "required": true,
            "schema": { "type": "string" },
            "example": "ec4b8eb6-d01e-11ef-b7c9-0242ac190002"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageAssignToInfoResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/terms": {
      "get": {
        "tags": ["유저"],
        "summary": "회원가입 약관 조회 API",
        "description": "회원가입 약관 조회 API 입니다.",
        "operationId": "getUserTerms",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageListTermsResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/sign/reservations": {
      "get": {
        "tags": ["서명"],
        "summary": "서명전 날짜별 예약 리스트 조회 API",
        "description": "서명전 날짜별 예약 리스트 조회 API 입니다.",
        "operationId": "getUserSignReservations",
        "parameters": [
          {
            "name": "reservationStartDate",
            "in": "query",
            "description": "예약 시작 일자",
            "required": true,
            "schema": { "type": "string" },
            "example": 20250101
          },
          {
            "name": "centerId",
            "in": "query",
            "description": "센터ID",
            "required": true,
            "schema": { "type": "string" },
            "example": 1
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/FittnerPageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageSignResrvationResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/sign/reservations/{ticketId}": {
      "get": {
        "tags": ["서명"],
        "summary": "서명할 예약 리스트 조회 API",
        "description": "서명할 예약 리스트 조회 API 입니다.",
        "operationId": "getUserSignReservationsTicketId",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "이용권ID",
            "required": true,
            "schema": { "type": "string" },
            "example": "55531c95-cb79-11ef-b7c9-0242ac190002"
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/FittnerPageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageListSignResrvationForMemberResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/reservations": {
      "get": {
        "tags": ["수업"],
        "summary": "트레이너의 회원 수업 목록 리스트 API",
        "description": "트레이너의 회원 수업 목록 리스트 API 입니다.",
        "operationId": "getUserReservations",
        "parameters": [
          {
            "name": "reservationSearchDto",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/ReservationSearchDto" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageListGroupedReservationMemberDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/reservation/colors": {
      "get": {
        "tags": ["수업"],
        "summary": "트레이너가 수업 등록할때 필요한 색상 리스트 API",
        "description": "트레이너가 수업 등록할때 필요한 색상 리스트 API입니다.",
        "operationId": "getUserReservationColors",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageReservationColorResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/pushs": {
      "get": {
        "tags": ["푸시"],
        "summary": "알림 리스트 조회 API",
        "description": "알림 리스트 조회 API 입니다.",
        "operationId": "getUserPushs",
        "parameters": [
          {
            "name": "centerId",
            "in": "query",
            "description": "센터ID",
            "required": true,
            "schema": { "type": "string" },
            "example": 1
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/FittnerPageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageListPushResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/push/chk": {
      "get": {
        "tags": ["푸시"],
        "summary": "신규 알림 여부 조회 API",
        "description": "신규 알림이 있는지(안읽은 알림) 확인하는 API 입니다.",
        "operationId": "getUserPushChk",
        "parameters": [
          {
            "name": "centerId",
            "in": "query",
            "description": "센터ID",
            "required": true,
            "schema": { "type": "string" },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessagePushChkResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/myPage/terms": {
      "get": {
        "tags": ["마이페이지"],
        "summary": "약관 조회 API",
        "description": "약관 조회 API 입니다.",
        "operationId": "getUserMyPageTerms",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageListTermsListResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/myPage/sales": {
      "get": {
        "tags": ["마이페이지"],
        "summary": "수익관리 헤더 조회 API",
        "description": "수익관리 헤더 조회 API 입니다.",
        "operationId": "getUserMyPageSales",
        "parameters": [
          {
            "name": "centerId",
            "in": "query",
            "description": "센터ID",
            "required": true,
            "schema": { "type": "string" },
            "example": 1
          },
          {
            "name": "reservationStartMonth",
            "in": "query",
            "description": "예약시작월",
            "required": false,
            "schema": { "type": "string" },
            "example": 202501
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageSalesResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/myPage/sales/info": {
      "get": {
        "tags": ["마이페이지"],
        "summary": "수익관리 바디 조회 API",
        "description": "수익관리 바디 조회 API 입니다.",
        "operationId": "getUserMyPageSalesInfo",
        "parameters": [
          {
            "name": "reservationStartMonth",
            "in": "query",
            "description": "예약시작월",
            "required": true,
            "schema": { "type": "string" },
            "example": 202501
          },
          {
            "name": "centerId",
            "in": "query",
            "description": "센터ID",
            "required": true,
            "schema": { "type": "string" },
            "example": 1
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/FittnerPageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageListSalesInfoResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/myPage/sales/info/detail": {
      "get": {
        "tags": ["마이페이지"],
        "summary": "수익관리 바디 상세 조회 API",
        "description": "수익관리 바디 상세 조회 API 입니다.",
        "operationId": "getUserMyPageSalesInfoDetail",
        "parameters": [
          {
            "name": "reservationStartMonth",
            "in": "query",
            "description": "예약시작월(202501 or TOTAL)",
            "required": true,
            "schema": { "type": "string" },
            "example": 202501
          },
          {
            "name": "ticketId",
            "in": "query",
            "description": "티켓ID",
            "required": true,
            "schema": { "type": "string" },
            "example": "dfb99734-ccd9-11ef-b7c9-0242ac190002"
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/FittnerPageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageListSalesInfoDetailResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/myPage/notices": {
      "get": {
        "tags": ["마이페이지"],
        "summary": "공지사항 조회 API",
        "description": "공지사항 조회 API 입니다.",
        "operationId": "getUserMyPageNotices",
        "parameters": [
          {
            "name": "centerId",
            "in": "query",
            "description": "센터ID",
            "required": true,
            "schema": { "type": "string" },
            "example": 1
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/FittnerPageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageListNoticeResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/myPage/default-info": {
      "get": {
        "tags": ["마이페이지"],
        "summary": "마이페이 기본 정보 조회 API",
        "description": "마이페이지 기본 정보 조회 API 입니다.",
        "operationId": "getUserMyPageDefaultInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageMyPageInfoResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/members": {
      "get": {
        "tags": ["유저"],
        "summary": "트레이너의 회원 목록 조회 API",
        "description": "트레이너의 회원 목록 조회 API 입니다.",
        "operationId": "getUserMembers",
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "type": "object" } } }
          }
        }
      }
    },
    "/api/v1/user/member/{memberId}": {
      "get": {
        "tags": ["유저"],
        "summary": "트레이너의 회원 상세 조회 API",
        "description": "트레이너의 회원 상세 조회 API 입니다.",
        "operationId": "getUserMemberMemberId",
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageListMemberDetailResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/main/short-schedules": {
      "get": {
        "tags": ["메인페이지"],
        "summary": "메인페이지 일정 간략보기 데이터 조회 API",
        "description": "메인페이지의 일정 간략보기 데이터 조회 API 입니다.",
        "operationId": "getUserMainShortSchedules",
        "parameters": [
          {
            "name": "reservationSearchDto",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/ReservationSearchDto" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageListGroupedReservationDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/main/schedule": {
      "get": {
        "tags": ["메인페이지"],
        "summary": "메인페이지 상단 수업 표출 단건조회 API",
        "description": "메인페이지 상단 수업 표출 단건조회 API 입니다.",
        "operationId": "getUserMainSchedule",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageMainReservationsResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/main/centers": {
      "get": {
        "tags": ["메인페이지"],
        "summary": "메인에서 트레이너가 지정한 센터 목록 조회 API",
        "description": "트레이너가 지정한 센터 목록 조회 API 입니다.",
        "operationId": "getUserMainCenters",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/FittnerPageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessagePageResponseDtoMainUserCenterListResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/info": {
      "get": {
        "tags": ["유저"],
        "summary": "트레이너 정보 조회 API",
        "description": "트레이너 정보 조회 API 입니다.",
        "operationId": "getUserInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageUserInfoResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/common/status-chk": {
      "get": {
        "tags": ["공통"],
        "summary": "트레이너 상태 체크 API",
        "description": "트레이너 상태 체크 API 입니다.",
        "operationId": "getUserCommonStatusChk",
        "parameters": [
          {
            "name": "trainerEmail",
            "in": "query",
            "description": "트레이너 이메일",
            "required": true,
            "schema": { "type": "string" },
            "example": "test001@naver.com"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageStatusChkResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/common/splash": {
      "get": {
        "tags": ["공통"],
        "summary": "스플래시 API",
        "description": "스플래시 조회 API 입니다.",
        "operationId": "getUserCommonSplash",
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "description": "승인토큰",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageSplashResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/common/brand-color": {
      "get": {
        "tags": ["공통"],
        "summary": "브랜드컬러 조회 API",
        "description": "브랜드컬러 조회 API 입니다.",
        "operationId": "getUserCommonBrandColor",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageBrandColorResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/common/app/version-chk": {
      "get": {
        "tags": ["공통"],
        "summary": "앱 버전 확인 조회 API",
        "description": "앱 버전 확인 API 입니다.",
        "operationId": "getUserCommonAppVersionChk",
        "parameters": [
          {
            "name": "appOsType",
            "in": "query",
            "description": "앱os종류 (AOS | IOS)",
            "required": true,
            "schema": { "type": "string" },
            "example": "AOS"
          },
          {
            "name": "appVersion",
            "in": "query",
            "description": "앱버전",
            "required": true,
            "schema": { "type": "string" },
            "example": "1.0.1"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageHardUpdateResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/centers": {
      "get": {
        "tags": ["유저"],
        "summary": "트레이너가 지정한 센터 목록 조회 API",
        "description": "트레이너가 지정한 센터 목록 조회 API 입니다.",
        "operationId": "getUserCenters",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/FittnerPageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessagePageResponseDtoUserCenterListResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/center/list": {
      "get": {
        "tags": ["유저"],
        "summary": "센터 목록 조회 API",
        "description": "센터 목록 조회 API 입니다.",
        "operationId": "getUserCenterList",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMessageListCenterListResDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/common/file/show/{fileId}": {
      "get": {
        "tags": ["파일"],
        "summary": "이미지 열기",
        "description": "url 입력시 해당 이미지를 노출합니다.",
        "operationId": "getCommonFileShowFileId",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "파일ID",
            "required": true,
            "schema": { "type": "string" },
            "example": "6j4trvC7ac"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": { "type": "string", "format": "byte" }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/common/file/privacy-clause": {
      "get": {
        "tags": ["파일"],
        "summary": "개인정보 이용약관",
        "description": "현재 적용중인 개인정보 이용약관을 조회 합니다.",
        "operationId": "getCommonFilePrivacyClause",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": { "type": "string", "format": "byte" }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RefundReqDto": {
        "required": ["ticketId"],
        "type": "object",
        "properties": {
          "ticketId": {
            "type": "string",
            "description": "이용권ID",
            "example": "d1e679af-d348-11ef-b7c9-0242ac190002"
          }
        }
      },
      "ApiResponseMessageObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": { "type": "object", "description": "응답 데이터" },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "PlusReqDto": {
        "required": [
          "cneterId",
          "memberId",
          "productCount",
          "productEndDate",
          "productName",
          "productPrice",
          "productStartDate"
        ],
        "type": "object",
        "properties": {
          "memberId": {
            "type": "string",
            "description": "회원ID",
            "example": "3c7ba936-d4d3-11ef-b7c9-0242ac190002"
          },
          "cneterId": {
            "type": "string",
            "description": "센터ID",
            "example": "3c7ba936-d4d3-11ef-b7c9-0242ac190002"
          },
          "productName": {
            "type": "string",
            "description": "상품명",
            "example": "프리미엄PT20"
          },
          "productStartDate": {
            "type": "string",
            "description": "상품 시작일",
            "example": "20210101"
          },
          "productEndDate": {
            "type": "string",
            "description": "상품 종료일",
            "example": "20211231"
          },
          "productCount": {
            "type": "string",
            "description": "상품 횟수",
            "example": "20"
          },
          "productPrice": {
            "type": "string",
            "description": "상품 가격",
            "example": "100000"
          },
          "memberMemo": {
            "type": "string",
            "description": "회원 메모",
            "example": "특이사항 없음"
          }
        }
      },
      "AssignToOldMemberReqDto": {
        "required": ["memberId", "originalTicketId"],
        "type": "object",
        "properties": {
          "originalTicketId": {
            "type": "string",
            "description": "원이용권ID",
            "example": "3803f0e5-d4d3-11ef-b7c9-0242ac190002"
          },
          "memberId": {
            "type": "string",
            "description": "회원ID",
            "example": "3c7ba936-d4d3-11ef-b7c9-0242ac190002"
          }
        }
      },
      "AssignToNewMemberReqDto": {
        "required": [
          "centerId",
          "memberAddress",
          "memberBirth",
          "memberGender",
          "memberName",
          "memberPhone",
          "originalTicketId",
          "productCount",
          "productEndDate",
          "productName",
          "productPrice",
          "productStartDate",
          "trainerId"
        ],
        "type": "object",
        "properties": {
          "originalTicketId": {
            "type": "string",
            "description": "원이용권ID",
            "example": "3803f0e5-d4d3-11ef-b7c9-0242ac190002"
          },
          "centerId": {
            "type": "string",
            "description": "센터ID",
            "example": "3803f0e5-d4d3-11ef-b7c9-0242ac190002"
          },
          "trainerId": {
            "type": "string",
            "description": "트레이너ID",
            "example": "3803f0e5-d4d3-11ef-b7c9-0242ac190002"
          },
          "memberName": {
            "type": "string",
            "description": "회원 이름",
            "example": "홍길동"
          },
          "memberPhone": {
            "type": "string",
            "description": "회원 전화번호",
            "example": "01012345678"
          },
          "memberGender": {
            "type": "string",
            "description": "회원 성별",
            "example": "M"
          },
          "memberBirth": {
            "type": "string",
            "description": "회원 생년월일",
            "example": "960615"
          },
          "memberAddress": {
            "type": "string",
            "description": "회원 주소",
            "example": "서울시 강남구"
          },
          "productName": {
            "type": "string",
            "description": "상품명",
            "example": "프리미엄PT20"
          },
          "productStartDate": {
            "type": "string",
            "description": "상품 시작일",
            "example": "20210101"
          },
          "productEndDate": {
            "type": "string",
            "description": "상품 종료일",
            "example": "20211231"
          },
          "productCount": {
            "type": "string",
            "description": "상품 횟수",
            "example": "20"
          },
          "productPrice": {
            "type": "string",
            "description": "상품 가격",
            "example": "100000"
          },
          "memberMemo": {
            "type": "string",
            "description": "회원 메모",
            "example": "특이사항 없음"
          },
          "memberJoinPath": {
            "type": "string",
            "description": "가입 경로",
            "example": "지인 소개"
          }
        }
      },
      "SignReqDto": {
        "required": ["fileGroupId", "memberId", "reservationId", "signType"],
        "type": "object",
        "properties": {
          "reservationId": {
            "type": "string",
            "description": "예약ID",
            "example": "d1e679af-d348-11ef-b7c9-0242ac190002"
          },
          "memberId": {
            "type": "string",
            "description": "회원ID",
            "example": "d1e679af-d348-11ef-b7c9-0242ac190002"
          },
          "fileGroupId": {
            "type": "string",
            "description": "파일그룹ID",
            "example": "d1e679af-d348-11ef-b7c9-0242ac190002"
          },
          "signType": {
            "pattern": "SIGN|NOSHOW",
            "type": "string",
            "description": "서명타입",
            "example": "SIGN | NOSHOW"
          },
          "signMemo": {
            "type": "string",
            "description": "서명메모",
            "example": "대화내용 캡쳐본 첨부"
          }
        }
      },
      "ReservationReqDto": {
        "type": "object",
        "properties": {
          "memberId": {
            "type": "string",
            "description": "회원 키값",
            "example": "1"
          },
          "reservationStartDate": {
            "type": "string",
            "description": "예약 시작일자",
            "example": "20250105"
          },
          "reservationEndDate": {
            "type": "string",
            "description": "예약 종료일자",
            "example": "20250106"
          },
          "reservationStartTime": {
            "type": "string",
            "description": "예약 시작시간",
            "example": "2030"
          },
          "reservationEndTime": {
            "type": "string",
            "description": "예약 종료일자",
            "example": "2130"
          },
          "reservationColor": {
            "type": "string",
            "description": "색상 태그",
            "example": "007AFF"
          },
          "reservationPush": {
            "type": "string",
            "description": "예약 푸시",
            "example": "before_5m"
          },
          "reservationMemo": {
            "type": "string",
            "description": "예약 메모",
            "example": "예약 메모입니다."
          }
        }
      },
      "MemberRegisterReqDto": {
        "type": "object",
        "properties": {
          "memberName": {
            "type": "string",
            "description": "회원 이름",
            "example": "홍길동"
          },
          "memberPhone": {
            "type": "string",
            "description": "회원 전화번호",
            "example": "01012345678"
          },
          "memberGender": {
            "type": "string",
            "description": "회원 성별",
            "example": "M"
          },
          "memberBirth": {
            "type": "string",
            "description": "회원 생년월일",
            "example": "960615"
          },
          "memberAddress": {
            "type": "string",
            "description": "회원 주소",
            "example": "서울시 강남구"
          },
          "productName": {
            "type": "string",
            "description": "상품명",
            "example": "프리미엄PT20"
          },
          "productStartDate": {
            "type": "string",
            "description": "상품 시작일",
            "example": "2021-01-01"
          },
          "productEndDate": {
            "type": "string",
            "description": "상품 종료일",
            "example": "2021-12-31"
          },
          "productCount": {
            "type": "integer",
            "description": "상품 횟수",
            "format": "int32",
            "example": 20
          },
          "productPrice": {
            "type": "integer",
            "description": "상품 가격",
            "format": "int32",
            "example": 100000
          },
          "memberMemo": {
            "type": "string",
            "description": "회원 메모",
            "example": "특이사항 없음"
          },
          "memberJoinPath": {
            "type": "string",
            "description": "가입 경로",
            "example": "지인 소개"
          }
        }
      },
      "PushReadReqDto": {
        "required": ["pushId"],
        "type": "object",
        "properties": {
          "pushId": {
            "type": "string",
            "description": "푸시ID",
            "example": "d1e679af-d348-11ef-b7c9-0242ac190002"
          }
        }
      },
      "ApiResponseMessageListPushSetResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": {
            "type": "array",
            "description": "응답 데이터",
            "items": { "$ref": "#/components/schemas/PushSetResDto" }
          },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "PushSetResDto": {
        "type": "object",
        "properties": {
          "pushKind": {
            "type": "string",
            "description": "푸시종류",
            "example": "ADVERTISE | RESERVATION"
          },
          "pushSetYn": {
            "type": "string",
            "description": "푸시여부",
            "example": "Y"
          }
        },
        "description": "응답 데이터"
      },
      "PushSetReqDto": {
        "required": ["pushKind", "pushSetYn"],
        "type": "object",
        "properties": {
          "pushKind": {
            "type": "string",
            "description": "푸시종류",
            "example": "ADVERTISE | RESERVATION"
          },
          "pushSetYn": {
            "type": "string",
            "description": "푸시설정여부",
            "example": "Y"
          }
        }
      },
      "NoticeReadReqDto": {
        "required": ["noticeId"],
        "type": "object",
        "properties": {
          "noticeId": {
            "type": "string",
            "description": "공지사항ID",
            "example": "d1e679af-d348-11ef-b7c9-0242ac190002"
          }
        }
      },
      "AgreementDto": {
        "type": "object",
        "properties": {
          "termsId": {
            "type": "string",
            "description": "약관 ID",
            "example": "0f83adb5-d27a-11ef-b7c9-0242ac190002"
          },
          "agreed": {
            "type": "string",
            "description": "약관 동의 여부",
            "example": "Y"
          }
        },
        "description": "약관 동의 정보 리스트"
      },
      "JoinReqDto": {
        "type": "object",
        "properties": {
          "agreements": {
            "type": "array",
            "description": "약관 동의 정보 리스트",
            "items": { "$ref": "#/components/schemas/AgreementDto" }
          },
          "trainerPhone": {
            "type": "string",
            "description": "트레이너 휴대폰 번호",
            "example": "01012345678"
          },
          "trainerName": {
            "type": "string",
            "description": "트레이너 이름",
            "example": "홍길동"
          },
          "trainerEmail": {
            "type": "string",
            "description": "트레이너 이메일",
            "example": "newy12@naver.com"
          },
          "trainerSnsKind": {
            "type": "string",
            "description": "소셜 로그인 종류",
            "example": " KAKAO || APPLE || GOOGLE",
            "enum": ["KAKAO", "APPLE", "GOOGLE"]
          },
          "trainerFcmToken": {
            "type": "string",
            "description": "fcm 토큰 (현재는 빈값으로 넣으세요)",
            "example": ""
          },
          "trainerCiNo": {
            "type": "string",
            "description": "CI NUM (현재는 빈값으로 넣으세요)",
            "example": ""
          },
          "centerId": {
            "type": "string",
            "description": "센터 지점 키값",
            "example": "1"
          }
        }
      },
      "CenterRegisterReqDto": {
        "type": "object",
        "properties": {
          "centerId": {
            "type": "string",
            "description": "센터 키값",
            "example": "e7d5eeb6-cda6-11ef-b7c9-0242ac190002"
          }
        }
      },
      "FileReqDto": {
        "type": "object",
        "properties": {
          "encryptYn": {
            "type": "string",
            "description": "암호화 여부",
            "example": "N"
          }
        }
      },
      "AccessTokenReqDto": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "만료된 토큰값",
            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhYmNkZWYiLCJleHAiOjE3MzU1NDI0OTh9.KU9cRantYrLEFmMyExdedwpuz10k76JeaYDR1D2bPGI"
          },
          "refreshTokenId": {
            "type": "string",
            "description": "리프레시 토큰 키값",
            "example": "alskdnksla"
          }
        }
      },
      "ApiResponseMessageTokenResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": { "$ref": "#/components/schemas/TokenResDto" },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "TokenResDto": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "액세스 토큰",
            "example": "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0cmFpbmVyQG5hdmVyLmNvbSIsImV4cCI6MTYzNzQwNjQwNn0.7"
          },
          "refreshTokenId": {
            "type": "string",
            "description": "리프레시 토큰",
            "example": "alskdnksla"
          }
        },
        "description": "응답 데이터"
      },
      "LoginRequestDto": {
        "type": "object",
        "properties": {
          "trainerEmail": {
            "type": "string",
            "description": "이메일",
            "example": "newy12@naver.com"
          }
        }
      },
      "ApiResponseMessageListTicketListResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": {
            "type": "array",
            "description": "응답 데이터",
            "items": { "$ref": "#/components/schemas/TicketListResDto" }
          },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "TicketListResDto": {
        "type": "object",
        "properties": {
          "ticketId": {
            "type": "string",
            "description": "이용권ID",
            "example": "d1e679af-d348-11ef-b7c9-0242ac190002"
          },
          "ticketCode": {
            "type": "string",
            "description": "이용권코드",
            "example": "ING | STOP | ASSIGN_TO | ASSIGN_FROM | REFUND | AFTER"
          },
          "memeberName": {
            "type": "string",
            "description": "회원이름",
            "example": "아무기"
          },
          "ticketName": {
            "type": "string",
            "description": "이용권명",
            "example": "프리미엄PT"
          },
          "ticketStartDate": {
            "type": "string",
            "description": "이용권시작일",
            "example": "20250103"
          },
          "ticketEndDate": {
            "type": "string",
            "description": "이용권종료일",
            "example": "20250401"
          },
          "memberPohoneEnd": {
            "type": "string",
            "description": "회원 휴대폰뒤 4자리",
            "example": "1422"
          },
          "ticketTotalCnt": {
            "type": "string",
            "description": "이용권 전체 횟수",
            "example": "20"
          }
        },
        "description": "응답 데이터"
      },
      "ApiResponseMessageTicketDetailResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": { "$ref": "#/components/schemas/TicketDetailResDto" },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "AssignInfo": {
        "type": "object",
        "properties": {
          "assignCenterName": {
            "type": "string",
            "description": "양도센터명",
            "example": "아워피티니스 서초점"
          },
          "assignTrainerName": {
            "type": "string",
            "description": "양도트레이너명",
            "example": "고길동"
          },
          "assignDate": {
            "type": "string",
            "description": "양도일",
            "example": "20250103"
          },
          "assignCnt": {
            "type": "string",
            "description": "양도횟수",
            "example": "6"
          },
          "assignMemberName": {
            "type": "string",
            "description": "양도회원명",
            "example": "김철수"
          }
        },
        "description": "양도 정보"
      },
      "MemberInfo": {
        "type": "object",
        "properties": {
          "memeberName": {
            "type": "string",
            "description": "회원이름",
            "example": "아무기"
          },
          "memberPhone": {
            "type": "string",
            "description": "회원핸드폰",
            "example": "01011112222"
          },
          "memberGender": {
            "type": "string",
            "description": "횐원성별",
            "example": "M"
          },
          "memberBirth": {
            "type": "string",
            "description": "회원생년월일",
            "example": "890122"
          },
          "memberAddress": {
            "type": "string",
            "description": "회원주소",
            "example": "서울시 관악구 아무동 22-1"
          },
          "memberMomo": {
            "type": "string",
            "description": "회원메모",
            "example": "25년 8월 바디프로필 희망"
          },
          "memberJoinPath": {
            "type": "string",
            "description": "회원가입경로",
            "example": "지인소개"
          }
        },
        "description": "회원 정보"
      },
      "RefundInfo": {
        "type": "object",
        "properties": {
          "refundCnt": {
            "type": "string",
            "description": "환불횟수",
            "example": "3"
          },
          "refundPrice": {
            "type": "string",
            "description": "환불금액",
            "example": "300000"
          },
          "refundDateTime": {
            "type": "string",
            "description": "환불일시",
            "example": "20250203113022"
          }
        },
        "description": "환불 정보"
      },
      "TicketDetailResDto": {
        "type": "object",
        "properties": {
          "memberInfo": { "$ref": "#/components/schemas/MemberInfo" },
          "ticketInfo": { "$ref": "#/components/schemas/TicketInfo" },
          "refundInfo": { "$ref": "#/components/schemas/RefundInfo" },
          "assignInfo": { "$ref": "#/components/schemas/AssignInfo" }
        },
        "description": "응답 데이터"
      },
      "TicketInfo": {
        "type": "object",
        "properties": {
          "ticketCode": {
            "type": "string",
            "description": "이용권코드",
            "example": "ING | STOP | ASSIGN_TO | ASSIGN_FROM | REFUND | AFTER"
          },
          "ticketCodeName": {
            "type": "string",
            "description": "이용권코드명",
            "example": "이용중"
          },
          "ticketName": {
            "type": "string",
            "description": "이용권명",
            "example": "프리미엄PT"
          },
          "ticketStartDate": {
            "type": "string",
            "description": "이용권시작일",
            "example": "20250111"
          },
          "ticketEndDate": {
            "type": "string",
            "description": "이용권종료일",
            "example": "20250411"
          },
          "ticketUseCnt": {
            "type": "string",
            "description": "이용권이용횟수",
            "example": "17"
          },
          "ticketTotalCnt": {
            "type": "string",
            "description": "이용권전체횟수",
            "example": "20"
          },
          "ticketPrice": {
            "type": "string",
            "description": "이용권가격",
            "example": "2000000"
          }
        },
        "description": "이용권 정보"
      },
      "ApiResponseMessageRefundInfoResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": { "$ref": "#/components/schemas/RefundInfoResDto" },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "RefundInfoResDto": {
        "type": "object",
        "properties": {
          "ticketId": {
            "type": "string",
            "description": "이용권ID",
            "example": "3803f0e5-d4d3-11ef-b7c9-0242ac190002"
          },
          "memberName": {
            "type": "string",
            "description": "회원이름",
            "example": "아무개"
          },
          "ticketName": {
            "type": "string",
            "description": "이용권이름",
            "example": "프리미엄PT"
          },
          "ticketStartDate": {
            "type": "string",
            "description": "이용권 시작일자",
            "example": "20241101"
          },
          "ticketEndDate": {
            "type": "string",
            "description": "이용권 종료일자",
            "example": "20250101"
          },
          "ticketTotalCnt": {
            "type": "string",
            "description": "이용권 횟수",
            "example": "20"
          },
          "ticketRemainingCnt": {
            "type": "string",
            "description": "이용권 남은 횟수",
            "example": "5"
          },
          "ticketPrice": {
            "type": "string",
            "description": "이용권 금액",
            "example": "2000000"
          },
          "ticketUsePrice": {
            "type": "string",
            "description": "이용권 사용금액",
            "example": "1500000"
          },
          "refundPrice": {
            "type": "string",
            "description": "환불 예상금액",
            "example": "500000"
          }
        },
        "description": "응답 데이터"
      },
      "ApiResponseMessageAssignToInfoResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": { "$ref": "#/components/schemas/AssignToInfoResDto" },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "AssignToInfoResDto": {
        "type": "object",
        "properties": {
          "ticketId": {
            "type": "string",
            "description": "이용권ID",
            "example": "d1e679af-d348-11ef-b7c9-0242ac190002"
          },
          "ticketName": {
            "type": "string",
            "description": "이용권명",
            "example": "프리미엄PT"
          },
          "ticketStartDate": {
            "type": "string",
            "description": "이용권시작일",
            "example": "20250101"
          },
          "ticketEndDate": {
            "type": "string",
            "description": "이용권종료일",
            "example": "20250401"
          },
          "remainingCnt": {
            "type": "string",
            "description": "이용권잔여횟수",
            "example": "12"
          },
          "totalCnt": {
            "type": "string",
            "description": "이용권전체횟수",
            "example": "20"
          },
          "memberName": {
            "type": "string",
            "description": "회원명",
            "example": "아무기"
          },
          "memberPhoneEnd": {
            "type": "string",
            "description": "회원휴대폰 끝네자리",
            "example": "1234"
          }
        },
        "description": "응답 데이터"
      },
      "ApiResponseMessageListTermsResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": {
            "type": "array",
            "description": "응답 데이터",
            "items": { "$ref": "#/components/schemas/TermsResDto" }
          },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "TermsResDto": {
        "type": "object",
        "properties": {
          "termsId": {
            "type": "string",
            "description": "약관ID",
            "example": "d1e679af-d348-11ef-b7c9-0242ac190002"
          },
          "termsKind": {
            "type": "string",
            "description": "약관종류",
            "example": "ADVERTISE | INFO | USE"
          },
          "termsEssentialYn": {
            "type": "string",
            "description": "약관필수여부",
            "example": "Y"
          },
          "termsTitle": {
            "type": "string",
            "description": "약관제목",
            "example": "개인정보처리방침"
          },
          "termsUrl": {
            "type": "string",
            "description": "약관url",
            "example": "https://api.fittner.co.kr/api/v1/common/file/show/bE2c2E35d6a"
          }
        },
        "description": "응답 데이터"
      },
      "FittnerPageable": {
        "type": "object",
        "properties": {
          "currentPageNo": {
            "type": "integer",
            "description": "현재 페이지 번호",
            "format": "int32",
            "example": 1
          }
        }
      },
      "ApiResponseMessageSignResrvationResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": { "$ref": "#/components/schemas/SignResrvationResDto" },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "SignResrvationDto": {
        "type": "object",
        "properties": {
          "ticketId": {
            "type": "string",
            "description": "이용권ID",
            "example": "3c7ba936-d4d3-11ef-b7c9-0242ac190002"
          },
          "reservationId": {
            "type": "string",
            "description": "예약ID",
            "example": "3c7ba936-d4d3-11ef-b7c9-0242ac190002"
          },
          "memberName": {
            "type": "string",
            "description": "회원이름",
            "example": "홍길동"
          },
          "reservationUseCnt": {
            "type": "string",
            "description": "예약회차",
            "example": "3"
          },
          "reservationStartTime": {
            "type": "string",
            "description": "예약시작시간",
            "example": "1400"
          },
          "reservationEndTime": {
            "type": "string",
            "description": "예약종료시간",
            "example": "1500"
          },
          "reservationMemo": {
            "type": "string",
            "description": "예약메모",
            "example": "야외수업 희망"
          },
          "reservationStatus": {
            "type": "string",
            "description": "예약상태",
            "example": "NOSHOW | SIGN | WATING"
          }
        },
        "description": "예약 데이터"
      },
      "SignResrvationResDto": {
        "type": "object",
        "properties": {
          "reservationTotalCnt": {
            "type": "string",
            "description": "예약 총갯수",
            "example": "3"
          },
          "reservationList": {
            "type": "array",
            "description": "예약 데이터",
            "items": { "$ref": "#/components/schemas/SignResrvationDto" }
          }
        },
        "description": "응답 데이터"
      },
      "ApiResponseMessageListSignResrvationForMemberResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": {
            "type": "array",
            "description": "응답 데이터",
            "items": {
              "$ref": "#/components/schemas/SignResrvationForMemberResDto"
            }
          },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "SignResrvationForMemberResDto": {
        "type": "object",
        "properties": {
          "reservationId": {
            "type": "string",
            "description": "예약ID",
            "example": "3c7ba936-d4d3-11ef-b7c9-0242ac190002"
          },
          "memberId": {
            "type": "string",
            "description": "회원ID",
            "example": "3c7ba936-d4d3-11ef-b7c9-0242ac190002"
          },
          "memberName": {
            "type": "string",
            "description": "회원이름",
            "example": "아무개"
          },
          "reservationStatus": {
            "type": "string",
            "description": "예약상태",
            "example": "NOSHOW | SIGN | WATING"
          },
          "reservationStartDate": {
            "type": "string",
            "description": "예약시작일",
            "example": "20250104"
          },
          "reservationStartTime": {
            "type": "string",
            "description": "예약시작시간",
            "example": "1400"
          },
          "reservationEndTime": {
            "type": "string",
            "description": "예약종료시간",
            "example": "1500"
          },
          "reservationUseCnt": {
            "type": "string",
            "description": "예약회차",
            "example": "4"
          }
        },
        "description": "응답 데이터"
      },
      "ReservationSearchDto": {
        "type": "object",
        "properties": {
          "reservationStartDate": { "type": "string" },
          "reservationEndDate": { "type": "string" }
        }
      },
      "ApiResponseMessageListGroupedReservationMemberDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": {
            "type": "array",
            "description": "응답 데이터",
            "items": {
              "$ref": "#/components/schemas/GroupedReservationMemberDto"
            }
          },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "GroupedReservationMemberDto": {
        "type": "object",
        "properties": {
          "lastTwoDigits": {
            "type": "string",
            "description": "날짜 끝두자리 값",
            "example": "02"
          },
          "reservations": {
            "type": "array",
            "description": "예액 정보들",
            "items": { "$ref": "#/components/schemas/ReservationMemberResDto" },
            "example": null
          }
        },
        "description": "응답 데이터"
      },
      "ReservationMemberResDto": {
        "type": "object",
        "properties": {
          "lastTwoDigits": {
            "type": "string",
            "description": "날짜 끝두자리 값",
            "example": "02"
          },
          "memberName": {
            "type": "string",
            "description": "회원명",
            "example": "김영재"
          },
          "reservationStartDate": {
            "type": "string",
            "description": "예약시작일",
            "example": "20250101"
          },
          "reservationEndDate": {
            "type": "string",
            "description": "예약종료일",
            "example": "20250110"
          },
          "reservationStartTime": {
            "type": "string",
            "description": "예약시작시간",
            "example": "0900"
          },
          "reservationEndTime": {
            "type": "string",
            "description": "예약종료시간",
            "example": "1000"
          },
          "reservationColor": {
            "type": "string",
            "description": "예약색상",
            "example": "#FF0000"
          },
          "reservationMemo": {
            "type": "string",
            "description": "예약메모",
            "example": "헬스PT"
          },
          "ptnCnt": {
            "type": "integer",
            "description": "PTN회차",
            "format": "int32",
            "example": 1
          }
        },
        "description": "예액 정보들",
        "example": null
      },
      "ApiResponseMessageReservationColorResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": { "$ref": "#/components/schemas/ReservationColorResDto" },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "ReservationColorResDto": {
        "type": "object",
        "properties": {
          "colors": { "type": "array", "items": { "type": "string" } }
        },
        "description": "응답 데이터"
      },
      "ApiResponseMessageListPushResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": {
            "type": "array",
            "description": "응답 데이터",
            "items": { "$ref": "#/components/schemas/PushResDto" }
          },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "PushResDto": {
        "type": "object",
        "properties": {
          "pushId": {
            "type": "string",
            "description": "알림ID",
            "example": "d1e679af-d348-11ef-b7c9-0242ac190002"
          },
          "pushTitle": {
            "type": "string",
            "description": "알림제목",
            "example": "수업 5분전 알림"
          },
          "pushContent": {
            "type": "string",
            "description": "알림내용",
            "example": "아무개 수업이 5분전이에요!"
          },
          "pushDate": {
            "type": "string",
            "description": "알림일자",
            "example": "20250122"
          },
          "pushReadYn": {
            "type": "string",
            "description": "알림읽음여부",
            "example": "N"
          }
        },
        "description": "응답 데이터"
      },
      "ApiResponseMessagePushChkResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": { "$ref": "#/components/schemas/PushChkResDto" },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "PushChkResDto": {
        "type": "object",
        "properties": {
          "newPushYn": {
            "type": "string",
            "description": "신규알림여부",
            "example": "Y"
          }
        },
        "description": "응답 데이터"
      },
      "ApiResponseMessageListTermsListResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": {
            "type": "array",
            "description": "응답 데이터",
            "items": { "$ref": "#/components/schemas/TermsListResDto" }
          },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "TermsListResDto": {
        "type": "object",
        "properties": {
          "ingTermsTitle": {
            "type": "string",
            "description": "약관제목",
            "example": "개인정보처리방침"
          },
          "intTermsStartDate": {
            "type": "string",
            "description": "약관시작일",
            "example": "20250104"
          },
          "totalTermList": {
            "type": "array",
            "description": "약관리스트",
            "items": { "$ref": "#/components/schemas/TotalTerm" }
          }
        },
        "description": "응답 데이터"
      },
      "TotalTerm": {
        "type": "object",
        "properties": {
          "termsStartDate": {
            "type": "string",
            "description": "약관시작일",
            "example": "20250104"
          },
          "termsUrl": {
            "type": "string",
            "description": "약관url",
            "example": "https://api.fittner.co.kr/api/v1/common/file/show/b71iFb5ij6J"
          }
        },
        "description": "약관리스트"
      },
      "ApiResponseMessageSalesResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": { "$ref": "#/components/schemas/SalesResDto" },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "SalesResDto": {
        "type": "object",
        "properties": {
          "projectionSalesPrice": {
            "type": "string",
            "description": "예상수익금",
            "example": "1000000"
          },
          "nowSalesPrice": {
            "type": "string",
            "description": "현재수익금",
            "example": "970000"
          }
        },
        "description": "응답 데이터"
      },
      "ApiResponseMessageListSalesInfoResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": {
            "type": "array",
            "description": "응답 데이터",
            "items": { "$ref": "#/components/schemas/SalesInfoResDto" }
          },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "SalesInfoResDto": {
        "type": "object",
        "properties": {
          "ticketId": {
            "type": "string",
            "description": "이용권ID",
            "example": "d1e679af-d348-11ef-b7c9-0242ac190002"
          },
          "memberId": {
            "type": "string",
            "description": "회원ID",
            "example": "d1e679af-d348-11ef-b7c9-0242ac190002"
          },
          "memberName": {
            "type": "string",
            "description": "회원이름",
            "example": "아무개"
          },
          "ticketName": {
            "type": "string",
            "description": "이용권명",
            "example": "프리미엄PT"
          },
          "ticketStartDate": {
            "type": "string",
            "description": "이용권시작일",
            "example": "20250101"
          },
          "ticketEndDate": {
            "type": "string",
            "description": "이용권종료일",
            "example": "20250301"
          },
          "ticketUseCnt": {
            "type": "string",
            "description": "회차",
            "example": "3"
          },
          "nowSalesPrice": {
            "type": "string",
            "description": "현재수익금",
            "example": "150000"
          }
        },
        "description": "응답 데이터"
      },
      "ApiResponseMessageListSalesInfoDetailResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": {
            "type": "array",
            "description": "응답 데이터",
            "items": { "$ref": "#/components/schemas/SalesInfoDetailResDto" }
          },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "SalesInfoDetailResDto": {
        "type": "object",
        "properties": {
          "ticketId": {
            "type": "string",
            "description": "이용권ID",
            "example": "d1e679af-d348-11ef-b7c9-0242ac190002"
          },
          "memberName": {
            "type": "string",
            "description": "회원이름",
            "example": "아무개"
          },
          "reservationStartDate": {
            "type": "string",
            "description": "예약시작일",
            "example": "20250101"
          },
          "reservationEndDate": {
            "type": "string",
            "description": "예약종료일",
            "example": "20250301"
          },
          "reservationStartTime": {
            "type": "string",
            "description": "예약시작시간",
            "example": "1600"
          },
          "reservationEndTime": {
            "type": "string",
            "description": "예약종료시간",
            "example": "1700"
          },
          "ticketUseCnt": {
            "type": "string",
            "description": "회차",
            "example": "3"
          },
          "salesPrice": {
            "type": "string",
            "description": "수익금",
            "example": "150000"
          },
          "reservationStatus": {
            "type": "string",
            "description": "예약상태",
            "example": "NOSHOW | SIGN"
          }
        },
        "description": "응답 데이터"
      },
      "ApiResponseMessageListNoticeResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": {
            "type": "array",
            "description": "응답 데이터",
            "items": { "$ref": "#/components/schemas/NoticeResDto" }
          },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "NoticeResDto": {
        "type": "object",
        "properties": {
          "noticeId": {
            "type": "string",
            "description": "공지사항ID",
            "example": "d1e679af-d348-11ef-b7c9-0242ac190002"
          },
          "noticeTitle": {
            "type": "string",
            "description": "공지사항제목",
            "example": "앱 긴급점검 안내"
          },
          "noticeContent": {
            "type": "string",
            "description": "공지사항내용",
            "example": "안녕하세요 피트너입니다. 내부 시스템 점검으로 인해 14:00~14:10(10분) 동안 환불 서비스 중지 예정입니다. 서비스 이용에 불편을 드려 죄송합니다."
          },
          "noticeReadYn": {
            "type": "string",
            "description": "공지사항읽음여부",
            "example": "N"
          },
          "noticeDate": {
            "type": "string",
            "description": "공지일자",
            "example": "20250101"
          }
        },
        "description": "응답 데이터"
      },
      "ApiResponseMessageMyPageInfoResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": { "$ref": "#/components/schemas/MyPageInfoResDto" },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "MyPageInfoResDto": {
        "type": "object",
        "properties": {
          "trainerName": {
            "type": "string",
            "description": "트레이너 이름",
            "example": "아무개"
          },
          "trainerEmail": {
            "type": "string",
            "description": "트레이너 이메일",
            "example": "test001@naver.com"
          },
          "trainerSnsKind": {
            "type": "string",
            "description": "트레이너 sns종류",
            "example": "APPLE | GOOGLE | KAKAO"
          }
        },
        "description": "응답 데이터"
      },
      "ApiResponseMessageListMemberDetailResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": {
            "type": "array",
            "description": "응답 데이터",
            "items": { "$ref": "#/components/schemas/MemberDetailResDto" }
          },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "MemberDetailResDto": {
        "type": "object",
        "properties": {
          "memberId": {
            "type": "string",
            "description": "회원키값",
            "example": "5e1d602e-a038-4293-950d-33d3780d08de"
          },
          "ticketId": {
            "type": "string",
            "description": "티켓키값",
            "example": "5e1d602e-a038-4293-950d-33d3780d08de"
          },
          "memberName": {
            "type": "string",
            "description": "회원명",
            "example": "김영재"
          },
          "productName": {
            "type": "string",
            "description": "상품명",
            "example": "프리미엄PT20"
          },
          "productMonth": {
            "type": "integer",
            "description": "상품 개월수",
            "format": "int32",
            "example": 3
          },
          "productTotalCnt": {
            "type": "integer",
            "description": "상품 총횟수",
            "format": "int32",
            "example": 20
          },
          "productRemainCnt": {
            "type": "integer",
            "description": "회원의 상품 잔여횟수",
            "format": "int32",
            "example": 15
          },
          "ticketStartDate": {
            "type": "string",
            "description": "회원의 티켓 시작일",
            "example": "20240903"
          },
          "ticketEndDate": {
            "type": "string",
            "description": "회원의 티켓 만료일",
            "example": "20241202"
          },
          "attendanceCnt": {
            "type": "integer",
            "description": "출석 카운트",
            "format": "int32",
            "example": 5
          },
          "absenceCnt": {
            "type": "integer",
            "description": "결석 카운트",
            "format": "int32",
            "example": 0
          },
          "ticketCode": {
            "type": "string",
            "description": "티켓 상태",
            "example": "기간 중단",
            "enum": [
              "ING",
              "STOP",
              "ASSIGN_TO",
              "ASSIGN_FROM",
              "REFUND",
              "BEFORE",
              "AFTER"
            ]
          }
        },
        "description": "응답 데이터"
      },
      "ApiResponseMessageListGroupedReservationDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": {
            "type": "array",
            "description": "응답 데이터",
            "items": { "$ref": "#/components/schemas/GroupedReservationDto" }
          },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "GroupedReservationDto": {
        "type": "object",
        "properties": {
          "lastTwoDigits": {
            "type": "string",
            "description": "날짜 끝두자리 값",
            "example": "02"
          },
          "reservations": {
            "type": "array",
            "description": "예약색상",
            "example": "#FF0000",
            "items": {
              "type": "string",
              "description": "예약색상",
              "example": "#FF0000"
            }
          }
        },
        "description": "응답 데이터"
      },
      "ApiResponseMessageMainReservationsResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
          "errorCode": {
            "type": "string",
            "description": "오류 코드",
            "example": ""
          },
          "result": { "$ref": "#/components/schemas/MainReservationsResDto" },
          "error": {
            "type": "string",
            "writeOnly": true,
            "enum": ["COMMON_FAIL"]
          }
        }
      },
      "MainReservationsResDto": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "n번째날",
            "format": "int32",
            "example": 1
          },
          "lastTwoDigits": {
            "type": "string",
            "description": "날짜 끝4자리 값",
            "example": "0102"
          },
          "reservationColor": {
            "type": "string",
            "description": "예약색상",
            "example": "#FF0000"
          },
          "memberName": {
            "type": "string",
            "description": "회원명",
            "example": "김영재"
          },
          "reservationStartDate": {
            "type": "string",
            "description": "예약시작일",
            "example": "20250101"
          },
          "reservationEndDate": {
            "type": "string",
            "description": "예약종료일",
            "example": "20250110"
          },
          "reservationStartTime": {
            "type": "string",
            "description": "예약시작시간",
            "example": "0900"
          },
          "reservationEndTime": {
            "type": "string",
            "description": "예약종료시간",
            "example": "1000"
          },
          "totalCnt": {
            "type": "integer",
            "description": "전체횟차",
            "format": "int32",
            "example": 10
          },
          "ncnt": { "type": "integer", "format": "int32" }
        },
        "description": "응답 데이터"
      },
      "ApiResponseMessagePageResponseDtoMainUserCenterListResDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "정상처리"
          },
          "errorMessage": {
            "type": "string",
            "description": "오류 메시지",
            "example": ""
          },
[...]
