.container {
  min-height: 100dvh;
  padding-bottom: 2.5rem;
  @include flex_col(flex-start, flex-start);

  .logo_section {
    margin-top: 2.5rem;
  }

  .login_section {
    width: 100%;
    flex: 1;
    @include flex_col(space-evenly, center);

    .login_text {
      @include fm-ar(2.4rem, black, 3.2rem, 700);
      text-align: center;
      margin-top: 3rem;
    }

    .login_button_container {
      width: 100%;
      @include flex_col();
      @include flex_col_gap(1rem);
    }

    .login_button {
      position: relative;
      width: 100%;
      height: 5rem;
      border-radius: 1.6rem;
      @include flex_row(center, center);
      @include flex_row_gap(1.4rem);

      .login_button_text {
        text-align: center;
        font-feature-settings:
          "liga" off,
          "clig" off;
        font-family: Pretendard;
        font-style: normal;
        font-weight: 600;
        line-height: 2.2rem;
        font-size: 1.6rem;
      }
    }

    .kakao_button {
      background-color: #fee500;

      .login_button_text {
        color: #191919;
      }
    }

    .google_button {
      background-color: #ffffff;

      .login_button_text {
        color: #757575;
      }
    }

    .apple_button {
      background-color: #000000;

      .login_button_text {
        color: #ffffff;
      }
    }

    .forgot_password_text {
      @include fm-ar(1.6rem, black, 2.2rem, 400);
      text-decoration: underline;
    }
  }
}
