.container {
  min-height: 100dvh;
  padding-bottom: 2.5rem;
  @include flex_col(space-between, center);

  .logo_section {
    @include flex_col();
    @include flex_col_gap(1.5rem);
    flex: 1;

    .logo_text {
      color: $grey_4;
      text-align: center;
      font-feature-settings:
        "liga" off,
        "clig" off;
      font-family: Pretendard;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: 2.2rem;
    }
  }

  .login_section {
    @include flex_col();
    @include flex_col_gap(1rem);

    width: 100%;
    margin-top: auto;

    .login_button {
      position: relative;
      width: 100%;
      height: 6.3rem;
      border-radius: 0.8rem;

      img {
        position: absolute;
        left: 2.1rem;
        top: 50%;
        transform: translateY(-50%);
      }

      .login_button_text {
        text-align: center;
        font-feature-settings:
          "liga" off,
          "clig" off;
        font-family: Pretendard;
        font-style: normal;
        font-weight: 600;
        line-height: 2.2rem;
        font-size: 2rem;
      }
    }

    .kakao_button {
      background-color: #fee500;

      .login_button_text {
        color: #191919;
      }
    }

    .google_button {
      background-color: #ffffff;

      .login_button_text {
        color: #757575;
      }
    }

    .apple_button {
      background-color: #000000;

      .login_button_text {
        color: #ffffff;
      }
    }
  }
}
