.container {
  min-height: calc(100vh - $sub_header_height);
  @include flex_col(flex-start, flex-start);
  @include flex_col_gap(2.8rem);

  .title {
    @include fm-ar(1.4rem, $grey_3, 2.2rem, 600, "Pretendard");
  }

  .center_list {
    @include flex_col(flex-start, flex-start);
    @include flex_col_gap(1.6rem);
    margin-top: 0.6rem;
  }

  .no_center_container {
    @include flex_col(center, center);
    height: 100%;
    flex: 1;

    .no_center_text {
      @include fm-ar(1.6rem, $grey_2, 2.2rem, 600, "Pretendard");
    }
  }
}
