.container {
  .signature_reservation_detail_list {
    @include flex_col_gap(1rem);
  }

  .button_container {
    position: fixed;
    bottom: 0;
    padding: 2rem 0;
    background-color: white;
    width: calc(100% - 3.6rem);
    @include flex_row(space-between, center);
    @include flex_row_gap(1.4rem);
  }
}
