.container {
  .trainee_count {
    @include fm-ar(1.6rem, $grey_3, 2.2rem, 400);
    margin-top: 2.6rem;
    margin-bottom: 0.9rem;
    @include flex_row(flex-start, center);
    @include flex_row_gap(1.4rem);
  }

  .scroll_container {
    max-height: calc(100dvh - $sub_header_height - 9.6rem - 0.9rem);

    &.loading_finish {
      overflow-y: auto;
    }

    .trainee_item {
      padding: 2rem 0;
      border-top: 0.2rem solid $grey_1;
      @include flex_row(space-between, center);

      .left_section {
        @include flex_row(flex-start, center);
        @include flex_row_gap(1.4rem);

        .trainee_profile {
          width: 5.3rem;
          height: 5.3rem;
          border-radius: 50%;

          @include flex_row(center, center);

          &.male {
            background-color: $primary_1;
          }

          &.female {
            background-color: $sub_1;
          }
        }

        .trainee_info {
          .trainee_name {
            @include fm-ar(1.9rem, $text_1, 2.2rem, 600);
          }

          .trainee_info_detail {
            margin-top: 0.6rem;
            @include fm-ar(1.6rem, $grey_3, 2.2rem, 400);
            @include flex_row(center, center);
            @include flex_row_gap(1.4rem);
          }
        }
      }
    }
  }
}
