.container {
  @include flex_col(flex-start, flex-start);
  min-height: calc(100dvh - $sub_header_height);
  max-height: calc(100dvh - $sub_header_height);

  .trainee_count {
    @include fm-ar(1.6rem, $grey_3, 2.2rem, 400);
    margin-top: 2.6rem;
    margin-bottom: 0.9rem;
    @include flex_row(flex-start, center);
    @include flex_row_gap(1.4rem);
  }

  .scroll_container {
    max-height: calc(100dvh - $sub_header_height - 9.6rem - 0.9rem);
    width: 100%;

    &.loading_finish {
      margin-bottom: 1.6rem;
      overflow-y: auto;
    }
  }

  button {
    margin-top: auto;
    min-height: 5.6rem;
    margin-bottom: 1.8rem;
  }
}
