.container {
  @include flex_row(space-between, center);
  height: 9.4rem;
  border-radius: 0.6rem;
  padding: 2rem;
  width: 100%;

  .center_skeleton_left {
    @include flex_col(flex-start, flex-start);
    @include flex_col_gap(0.6rem);
  }
}
