// 무채색 계열
$grey_1: #f2f4f6;
$grey_2: #b0b8c1;
$grey_3: #7f848d;
$grey_4: #4d5662;

$primary_1: #4c6aff;
$sub_1: #ff8194;
$text_1: #191f28;
$text_2: #ffffff;
$text_3: #b0b8c1;
$text_4: #7f848d;
$text_5: #4d5662;
$text_6: #4c6aff;
$text_7: #ff8194;
