// 무채색 계열
$grey_1: #f2f4f6;
$grey_2: #b0b8c1;
$grey_3: #7f848d;
$grey_4: #4d5662;

$primary_1: #4c6aff;
$sub_1: #ff8194;
$text_1: #191f28;

$skeleton_1: #f2f2f2;
$skeleton_2: #e5e5e5;
$skeleton_3: #d9d9d9;
