@mixin flex_row($justify-content: center, $align-item: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify-content;
  align-items: $align-item;
}

@mixin flex_row_gap($gap) {
  & > * + * {
    margin-left: $gap;
  }
}

@mixin flex_col($justify-content: center, $align-item: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: $align-item;
}

@mixin flex_col_gap($gap) {
  & > * + * {
    margin-top: $gap;
  }
}

@mixin text_ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin absolute_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fm-ar(
  $fontSize: 1.6rem,
  $fontColor: $text_1,
  $lineHeight: 1.8rem,
  $fontWeight: 400,
  $fontFamily: "Pretendard"
) {
  color: $fontColor;
  line-height: $lineHeight;

  font: {
    size: $fontSize;
    weight: $fontWeight;
  }
}
