.progress {
  border-radius: 1rem;
  border: none;
  appearance: none;

  &::-webkit-progress-bar {
    background-color: $grey_1;
    border-radius: 1rem;
  }

  &::-webkit-progress-value {
    background-color: $primary_1;
    border-radius: 1rem;
    transition: width 1s ease-in-out;
  }

  &::-moz-progress-bar {
    background-color: $primary_1;
    border-radius: 1rem;
    transition: width 1s ease-in-out;
  }

  &[value] {
    color: $primary_1;
  }
}
