.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 5.6rem);
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1.6rem 0;
  border-bottom: 1px solid $grey_1;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:active {
    background-color: $grey_1;
  }

  &.unread {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 1.6rem;
      left: -1.8rem;
      width: 0.6rem;
      height: 0.6rem;
      background-color: $primary_1;
      border-radius: 50%;
    }
  }
}

.title {
  font-size: 1.6rem;
  font-weight: 700;
  color: $text_1;
  line-height: 1.4;
}

.content {
  font-size: 1.4rem;
  font-weight: 500;
  color: $text_4;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  font-size: 1.2rem;
  font-weight: 400;
  color: $text_3;
  margin-top: 0.4rem;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 40rem;
  gap: 1.2rem;
}

.empty_icon {
  width: 6rem;
  height: 6rem;
  color: $grey_2;
}

.empty_text {
  font-size: 1.6rem;
  font-weight: 500;
  color: $text_4;
}

.skeleton_item {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1.6rem 0;
  border-bottom: 1px solid $grey_1;
}
