.container {
  .title {
    @include fm-ar(2.4rem, $text_1, 3.2rem, 500, "Pretendard");

    .title_highlight {
      font-weight: 700;
    }
  }

  .button_container {
    margin-top: 10rem;
    @include flex_row(space-between, center);
    gap: 1.4rem;
  }
}
