.detail_container {
  @include flex_row(space-between, center);
  padding: 2rem 0;
  border-bottom: 0.2rem solid $grey_1;

  .left_section {
    .title {
      @include fm-ar(1.9rem, $text_1, 2.2rem, 600);
    }

    .date_container {
      margin-top: 0.6rem;
      @include flex_row(flex-start, center);
      @include flex_row_gap(0.3rem);

      .date {
        @include fm-ar(1.7rem, $grey_3, 2.2rem, 400);
      }
    }
  }
}

.main_container {
  @include flex_row(space-between, center);
  padding: 2rem 0;
  border-top: 0.2rem solid $grey_1;

  &:last-child {
    border-bottom: 0.2rem solid $grey_1;
  }

  .left_section {
    .title {
      @include fm-ar(1.9rem, $text_1, 2.2rem, 600);
    }

    .date {
      margin-top: 0.6rem;
      @include fm-ar(1.7rem, $grey_3, 2.2rem, 400);
    }
  }
}
