.container {
  padding-top: 4em;
  padding-bottom: 4em;
  @include flex_col();

  .success_message {
    white-space: pre-line;
    margin-top: 2.5rem;
    color: $text_1;
    text-align: center;
    font-feature-settings:
      "liga" off,
      "clig" off;
    font-family: Pretendard;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.8rem;
  }
}
