.container {
  @include flex_col(space-between, flex-start);
  min-height: calc(100dvh - 5.8rem);

  .content {
    width: 100%;
    flex: 1;

    .title {
      color: $text_1;
      height: 2.2rem;
      font-feature-settings:
        "liga" off,
        "clig" off;
      font-family: Pretendard;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.2rem;
    }

    .name_input {
      margin-top: 3rem;
    }
  }

  .next_button {
    margin-top: 2.9rem;
    margin-bottom: 2.9rem;
  }
}
