.container {
  position: sticky;
  top: 0;
  padding-bottom: 2.4rem;
  background-color: white;
  z-index: $sub_header_layer;
  border-bottom: 1px solid $grey_1;

  .back_button {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    height: $sub_header_height;
  }

  .search_container {
    margin-top: 2.4rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}
