.container {
  margin-top: 4.6rem;
  height: calc(100vh - $sub_header_height - 18rem);
  overflow-y: scroll;

  .field {
    margin-bottom: 3.5rem;

    p {
      @include fm-ar(1.6rem, $text_1, 2.2rem, 500);
    }
    & > .gender {
      margin-top: 1.8rem;
    }
  }

  .button_container {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    @include footer();
    bottom: 3rem;
  }
}
