.container {
  min-height: calc(100dvh - 5.8rem);
  @include flex_col(_, flex-start);

  .content {
    flex: 1;
    width: 100%;
    margin-top: 1.7rem;

    .title {
      height: 2.2rem;
      color: $text_1;
      font-feature-settings:
        "liga" off,
        "clig" off;
      font-family: Pretendard;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.2rem;
    }

    .sub_title {
      margin-top: 1.2rem;
      color: $grey_3;
      font-feature-settings:
        "liga" off,
        "clig" off;
      font-family: Pretendard;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 2.2rem;
    }

    .phone_number_input {
      margin-top: 3.4rem;
    }
  }

  .next_button {
    margin-top: 2.9rem;
    margin-bottom: 2.9rem;
  }
}
