.container {
  @include footer();
  @include flex-row(space-between);
  height: 5rem;
  z-index: $navigation_layer;
  padding: 1.2rem 2rem 1.2rem 2rem;
  border-top: 1px solid #dadada;
  min-height: $navigation_height;

  .item {
    @include flex-col;

    .name {
      @include fm-ar(1.3rem, $grey_2, 1.2rem, 600);
      margin-top: 0.4rem;
    }
  }
}
